body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: lightgoldenrodyellow;
}

.container {
  text-align: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
}

.status-message {
  margin-top: 20px;
  font-size: 24px;
}

.reset-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: skyblue;
  color:white;
  border: none;
  cursor: pointer;
}
